{% load bootstrap5 %}
{% csrf_token %}
<div class="row">
    <div class="col-md-6 mb-3">
        {% bootstrap_field form.house_cost %}
    </div>
    <div class="col-md-6 mb-3">
        {% bootstrap_field form.initial_contribution %}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {% bootstrap_field form.duration %}
    </div>
    <div class="col-md-6 mb-3">
        {% bootstrap_field form.annual_rate %}
    </div>
</div>
<hr>
<h5>Champs optionnels</h5>
<div class="row">
    <div class="col-md-6 mb-3">
        {% bootstrap_field form.comparative_rent %}
    </div>
    <div class="col-md-6 mb-3">
        {% bootstrap_field form.duration_before_usable %}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {% bootstrap_field form.sell_price_change %}
    </div>
    <div class="col-md-6 mb-3">
        {% bootstrap_field form.use_real_estate_firm %}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {% bootstrap_field form.monthly_expenses %}
    </div>
    <div class="col-md-6 mb-3">
        {% bootstrap_field form.property_tax %}
    </div>
</div>
