<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'agathe:home' %}">Agathe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'agathe:pit_stop' %}">Pit Stop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'agathe:diaper_change' %}">Couche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'agathe:question_to_ask' %}">Question à poser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'agathe:next_evolution_milestone' %}">Next évolution milestone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'agathe:website_ideas' %}">Ideas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
