{% extends 'agathe/base.html' %}

{% block content %}
    {% load feeding_colors %}
    <h2 class="mb-4" >Accueil</h2>
    <div class="card p-4 shadow-sm mb-4" style="background-color: {{ last_pit_stop.start_date|feeding_color }};">
        <h5>Dernier pit stop</h5>
        {% if last_pit_stop %}
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <ul>
                        <li>{{ last_pit_stop.start_date|date:"H:i" }}</li>
                        <li>Sein <strong>{{ last_pit_stop.get_side_display }}</strong></li>
                    </ul>
                </div>
                {% if last_pit_stop.ongoing %}
                <div>
                    <form method="post" action="{% url 'agathe:pit_stop_finish_current' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">Finir actuel</button>
                    </form>
                </div>
                {% endif %}
            </div>
        {% else %}
            <p>Aucun pit stop enregistré.</p>
        {% endif %}
    </div>
    <div class="card p-4 shadow-sm">
        <h5>Dernier changement de couche</h5>
        {% if last_diaper_change %}
            <ul>
                <li>{{ last_diaper_change.date|date:"H:i" }}</li>
                {% if last_diaper_change.pooh %}<li>Avec crotte</li>{% endif %}
            </ul>
        {% else %}
            <p>Aucun changement de couche enregistré.</p>
        {% endif %}
    </div>
    <div class="card p-4 shadow-sm mt-4" style="background-color: {% if vitamin_today %}lightgreen{% else %}lightcoral{% endif %};"> 
        <h5>Vitamine</h5>
        {% if vitamin_today %}
            <p>Vitamine prise aujourd'hui.</p>
        {% else %}
            <p>Aucune vitamine enregistrée aujourd'hui.</p>
        {% endif %}
        <form method="post" action="{% url 'agathe:vitamin_intake' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Prendre maintenant</button>
        </form>
    </div>
    <div class="card p-4 shadow-sm mt-4" style="background-color: {% if aspirin_recent %}lightcoral{% else %}lightgreen{% endif %};">
        <h5>Aspirine</h5>
        {% if last_aspirin %}
            <p>Dernière prise {{ last_aspirin.date|date:"d/m/Y H:i" }}</p>
        {% else %}
            <p>Aucune prise enregistrée.</p>
        {% endif %}
        <form method="post" action="{% url 'agathe:aspirin_intake' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Prendre maintenant</button>
        </form>
    </div>
    <div class="card p-4 shadow-sm mt-4" style="background-color: {% if bath_recent %}lightgreen{% else %}lightcoral{% endif %};"> 
        <h5>Dernier bain</h5>
        {% if last_bath %}
            <p>{{ last_bath.date|date:"d/m/Y" }}</p>
        {% else %}
            <p>Aucun bain enregistré.</p>
        {% endif %}
        <form method="post" action="{% url 'agathe:bath' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Enregistrer maintenant</button>
        </form>
    </div>
    <p>Agathe a {{ age_months }} mois et {{ age_days }} jours.</p>
{% endblock %}
