{% extends 'agathe/base.html' %}

{% block content %}
<h2 class="mb-4">Statistiques Pit Stop</h2>
<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link {% if tab == 'daily' %}active{% endif %}" href="?tab=daily">Par jour</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if tab == 'hour' %}active{% endif %}" href="?tab=hour">Par heure</a>
    </li>
    </ul>
{% if tab == 'hour' %}
<div class="card p-4 shadow-sm mb-4">
    <h5 class="card-title">Pit stops par heure</h5>
    {{ pit_stops_per_hour|safe }}
    </div>
<div class="card p-4 shadow-sm mb-4">
    <h5 class="card-title">Durée moyenne des pit stops par heure</h5>
    {{ pit_stop_duration_avg_per_hour|safe }}
    </div>
<div class="card p-4 shadow-sm">
    <h5 class="card-title">Temps moyen entre deux pit stops</h5>
    {{ pit_stop_interval_avg_per_hour|safe }}
    </div>
{% else %}
<div class="card p-4 shadow-sm mb-4">
    <h5 class="card-title">Pit stops par jour</h5>
    {{ pit_stops_per_day|safe }}
    </div>
<div class="card p-4 shadow-sm mb-4">
    <h5 class="card-title">Durée moyenne des pit stops par jour</h5>
    {{ pit_stop_duration_avg_per_day|safe }}
    </div>
<div class="card p-4 shadow-sm">
    <h5 class="card-title">Temps moyen entre deux pit stops</h5>
    {{ pit_stop_interval_avg_per_day|safe }}
    </div>
{% endif %}
{% endblock %}
