{% url 'capitalism:home' as home_url %}
{% url 'capitalism:humans' as humans_url %}
{% url 'capitalism:settings' as settings_url %}
{% url 'capitalism:objects' as objects_url %}
{% url 'capitalism:human_analytics' as human_analytics_url %}
{% url 'capitalism:price_analytics' as price_analytics_url %}
{% url 'capitalism:transactions' as transactions_url %}
<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ home_url }}">Capitalism</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#capitalismNavbar"
                aria-controls="capitalismNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="capitalismNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link{% if request.path == home_url %} active{% endif %}" href="{{ home_url }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if request.path == humans_url %} active{% endif %}" href="{{ humans_url }}">Humans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if request.path == objects_url %} active{% endif %}" href="{{ objects_url }}">Objects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if request.path == human_analytics_url %} active{% endif %}" href="{{ human_analytics_url }}">Human Analytics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if request.path == price_analytics_url %} active{% endif %}" href="{{ price_analytics_url }}">Price Analytics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if request.path == transactions_url %} active{% endif %}" href="{{ transactions_url }}">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if request.path == settings_url %} active{% endif %}" href="{{ settings_url }}">Settings</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="btn btn-outline-secondary" href="/admin/capitalism/">Admin</a>
            </div>
        </div>
    </div>
</nav>
