<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'flash_cards:home' %}">Flash Cards</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#flashCardsNavbar"
                aria-controls="flashCardsNavbar" aria-expanded="false" aria-label="Basculer la navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="flashCardsNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'flash_cards:home' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'flash_cards:hall_of_fame' %}">Hall Of Fame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'flash_cards:statistics' %}">Statistiques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'flash_cards:settings' %}">Configuration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'flash_cards:categories' %}">Catégories</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="btn btn-outline-primary" href="/admin/flash_cards/">Admin</a>
            </div>
        </div>
    </div>
</nav>
