{% extends 'babyberon/base.html' %}


{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center py-5">
    <a href="{% url 'babyberon:add_baby_bottle' %}" class="btn btn-primary mt-3">Ajouter un biberon</a>
</div>

<div class="mt-5">
    <h2 class="mb-4">Derniers biberons</h2>
    {% if baby_bottles %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Quantité (mL)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bottle in baby_bottles %}
                        <tr>
                            <td>{{ bottle.created_at|date:"d/m/Y H:i" }}</td>
                            <td>{{ bottle.quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Aucun biberon enregistré pour le moment.</p>
    {% endif %}
</div>
{% endblock %}
