{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prénoms</title>

    <link rel="stylesheet" href="{% static 'baby_name/style.css' %}">

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const elements = document.querySelectorAll(".name-text");

        elements.forEach(el => {
            let fontSize = 80;

            el.style.fontSize = fontSize + "px";

            while (
                (el.scrollWidth > el.offsetWidth || el.scrollHeight > el.offsetHeight) &&
                fontSize > 20
                ) {
                fontSize -= 1;
                el.style.fontSize = fontSize + "px";
            }
        });
    });
</script>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                    aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav me-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'baby_name:home' %}">Accueil</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'baby_name:vote_form' %}">🗳️ Vote</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'baby_name:results' %}">📋 Vos prénoms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'baby_name:ranking' %}">⚔️ Duels</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'baby_name:user_leaderboard' %}">📊 Classements par user</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'baby_name:global_leaderboard' %}">🏆 Classements général</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'baby_name:epuration' %}">🧹 La purge</a>
                        </li>
                    {% endif %}
                </ul>
                <div>
                    {% if user.is_authenticated %}
                        <span>Bonjour, {{ user.username }}!</span>
                        <a class="btn btn-primary ms-3" href="{% url 'baby_name:logout' %}">Se déconnecter</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'baby_name:login' %}">Se connecter</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- Contenu -->
<div class="container">
    {% block content %}
    {% endblock %}
</div>

{% block extra_scripts %}
{% endblock %}
