{% extends 'the_bazaar/base.html' %}

{% block title %}Archetype Statistics{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Archetype Statistics</h1>

        <div class="d-flex justify-content-end mb-3">
            <div class="btn-group mb-3" role="group" aria-label="Select time range">
                <a href="?range=current_season"
                   class="btn btn-outline-primary {% if current_range == 'current_season' or not current_range %}active{% endif %}">
                    Current Season
                </a>
                <a href="?range=all_time"
                   class="btn btn-outline-primary {% if current_range == 'all_time' %}active{% endif %}">
                    All Time
                </a>
            </div>
        </div>

        <form method="get" action="" class="mb-3">
            {% if current_range %}
                <input type="hidden" name="range" value="{{ current_range }}">
            {% endif %}

            <div class="row g-3 align-items-end">
                <div class="col-auto">
                    {{ filter_form.character.label_tag }}
                    {{ filter_form.character }}
                </div>
                <div class="col-auto">
                    {{ filter_form.best_result.label_tag }}
                    {{ filter_form.best_result }}
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </form>

        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Archetype</th>
                <th>Character</th>
                <th>Number of Runs</th>
                <th>Average Wins</th>
                <th>Best Result</th>
                <th>Win number</th>
            </tr>
            </thead>
            <tbody>
            {% for info in aggregated_infos %}
                <tr class="{% if info.best_result == "Gold win" %}table-success{% elif info.best_result == "Silver win" %}table-info{% endif %}">
                    <td>{{ info.archetype_name }}</td>
                    <td>{{ info.character_name }}</td>
                    <td>{{ info.run_number }}</td>
                    <td>{{ info.average_victory_number|floatformat:2|default:"N/A" }}</td>
                    <td>{{ info.best_result|default:"N/A" }}</td>
                    <td>{{ info.win_number }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No archetype data available for the selected period.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
