{% extends 'the_bazaar/base.html' %}
{% load form_filters %}

{% block content %}
    <div class="container mt-4">
        <h2>Object Statistics</h2>
        <form method="get" class="row mb-3 g-2 align-items-end">
            <div class="col-auto">
                {{ form.character.label_tag }}
                {{ form.character|add_class:"form-select" }}
            </div>
            <div class="col-auto">
                {{ form.victory_type.label_tag }}
                {{ form.victory_type|add_class:"form-select" }}
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>
        <table class="table table-striped w-auto">
            <tbody>
            <tr>
                <th scope="row">Total Objects</th>
                <td>{{ stats.total_objects }}</td>
            </tr>
            <tr>
                <th scope="row">Winning Objects</th>
                <td>{{ stats.winning_objects }}</td>
            </tr>
            <tr>
                <th scope="row">Win Ratio</th>
                <td>{{ stats.winning_ratio }}%</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
