{% extends 'the_bazaar/base.html' %}

{% block content %}
    {% load form_filters %}
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Objects</h2>
            <a class="btn btn-primary" href="{% url 'the_bazaar:object_create' %}">➕ Ajouter un objet</a>
        </div>

        <form method="get" class="row mb-3 g-2 align-items-end">
            <div class="col-auto">
                <label for="id_character" class="form-label">Character</label>
                {{ filter.form.character|add_class:"form-select form-select-sm" }}
            </div>
            <div class="col-auto">
                <label for="id_was_mastered" class="form-label">Maîtrisé</label>
                {{ filter.form.was_mastered|add_class:"form-select form-select-sm" }}
            </div>
            <div class="col-auto">
                <button class="btn btn-sm btn-primary" type="submit">Filtrer</button>
                <a href="{% url 'the_bazaar:object_list' %}" class="btn btn-sm btn-primary">Reset</a>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Character</th>
                <th>Set</th>
                <th>Taille</th>
                <th>Maîtrisé</th>
                <th>Victoires</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for obj in objects %}
                <tr class="{% if obj.was_mastered %}table-success{% endif %}">
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.get_character_display }}</td>
                    <td>{{ obj.card_set }}</td>
                    <td>{{ obj.get_size_display }}</td>
                    <td>{% if obj.was_mastered %}✅{% else %}❌{% endif %}</td>
                    <td>{{ obj.victory_number }}</td>
                    <td>
                        <a href="{% url 'the_bazaar:object_add_victory' obj.id %}"
                           class="btn btn-sm btn-outline-secondary">Add a victory</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">Aucun objet trouvé.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
