{% extends 'shopping_list/base.html' %}

{% block title %}Add Meal{% endblock %}

{% block content %}
    <div class="container py-4">
        <h2>Ajouter un Ingrédient <i class="bi bi-bag"></i></h2>

        <form method="post" action="{% url 'shopping_list:shopping_list_add_api' %}">
            {% csrf_token %}

            <div class="row mb-3">
                <label for="ingredient-choice" class="form-label">Ingrédient:</label>
                <select id="ingredient-choice" name="ingredient_id" class="form-select">
                    <option value="">-------</option>
                    {% for ingredient in ingredients %}
                        <option value="{{ ingredient.id }}">
                            {{ ingredient.name }} (par: {{ ingredient.unit }})
                        </option>
                    {% endfor %}
                </select>
            </div>

        <div class="row mb-3">
                <label for="ingredient-quantity">Quantitée:</label>
                <input type="number" name="ingredient_quantity"
                       id="ingredient-quantity">
            </div>

            <button type="submit" class="btn btn-success">Ajouter</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        new TomSelect("#ingredient-choice", {
            create: false,
            sortField: {
                field: "text",
                direction: "asc"
            },
            placeholder: "Choisir un ingrédient...",
        });
    </script>
{% endblock %}

{% block sources %}
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
{% endblock %}
