{% extends 'shopping_list/base.html' %}

{% block title %}Add Meal{% endblock %}

{% block content %}
    <div class="container py-4">
        <h2>Ajouter un repas 🍽️</h2>

        <form method="post" action="{% url 'shopping_list:planned_course_add_api' %}">
            {% csrf_token %}

            <div class="mb-3">
                <label for="course-choice" class="form-label">Repas:</label>
                <select id="course-choice" name="course_id" class="form-select">
                    <option value="">-------</option>
                    {% for course in courses %}
                        <option value="{{ course.id }}">
                            {{ course.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-success">Ajouter</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        new TomSelect("#course-choice", {
            create: false,
            sortField: {
                field: "text",
                direction: "asc"
            },
            placeholder: "Choisir un plat...",
        });
    </script>
{% endblock %}

{% block sources %}
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
{% endblock %}