{% extends 'shopping_list/base.html' %}

{% block title %}Add Meal{% endblock %}

{% block content %}
    <div class="container py-4">
        <h2>Ajouter un Ingrédient <i class="bi bi-bag"></i></h2>

        <form method="post" action="{% url 'shopping_list:shopping_list_add_api' %}">
            {% csrf_token %}

            <div class="mb-3">
                <label for="ingredient-choice" class="form-label">Choisir un Ingrédient</label>
                <input class="form-control" list="ingredients" id="ingredient-choice" name="ingredient_name">
                <datalist id="ingredients">
                    {% for ingredient in ingredients %}
                        <option data-value="{{ ingredient.id }}" value="{{ ingredient.name }}"></option>
                    {% endfor %}
                </datalist>

                <label for="ingredient-quantity"></label><input type="number" name="ingredient_quantity"
                                                                id="ingredient-quantity">

                <input type="hidden" name="ingredient_id" id="ingredient_id">
            </div>

            <button type="submit" class="btn btn-success">Ajouter</button>
        </form>
    </div>

    <script>
        document.getElementById('ingredient-choice').addEventListener('input', function (e) {
            const input = e.target.value;
            const list = document.getElementById('ingredients').options;

            document.getElementById('ingredient_id').value = ''; // reset

            for (let i = 0; i < list.length; i++) {
                if (list[i].value === input) {
                    document.getElementById('ingredient_id').value = list[i].dataset.value;
                    break;
                }
            }
        });
    </script>
{% endblock %}