<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Shopping List{% endblock %}</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% block sources %}
    {% endblock %}
</head>

<body>
{% include 'shopping_list/header.html' %}
<div class="container-fluid py-4">
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</div>
<script src="{% static 'keystrokes.js' %}"></script>
</body>
</html>