{% extends 'shopping_list/base.html' %}

{% block title %}Liste de plats{% endblock %}

{% block content %}
    <div class="container py-4">
        <h2>List des derniers repas</h2>
        <form method="get" class="row g-3 mb-3">
            <div class="col-auto">
                <input type="number" name="min_score" min="0" max="10" class="form-control" placeholder="Score min" value="{{ min_score }}">
            </div>
            <div class="col-auto">
                <input type="number" name="max_score" min="0" max="10" class="form-control" placeholder="Score max" value="{{ max_score }}">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Filtrer</button>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Score (sur 10)</th>
                <th>Commentaire</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for history in courses %}
                <tr>
                    <td>{{ history.course.name }}</td>
                    <td>{{ history.rating }}</td>
                    <td>{{ history.notes }}</td>
                    <td>
                        <a class="text-decoration-none text-reset" href="{% url 'shopping_list:course_history_edit' history.id %}">✏️</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
