{% extends 'shopping_list/base.html' %}

{% block title %}Liste de plats{% endblock %}

{% block content %}
    <div class="container py-4">
        <h2>List des plats</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Plat</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr id="course-{{ course.id }}">
                    <td>{{ course.name }}</td>
                    <td><a class="text-decoration-none text-reset" href="{% url 'shopping_list:edit_course' course.id %}">⚙️</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'shopping_list:add_course' %}" class="btn btn-primary">➕ Add Course</a>
    </div>
{% endblock %}
