<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Habit Tracker{% endblock %}</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

{% include "habit_tracker/header.html" %}

<main class="container py-4">
    {% if messages %}
        <div class="mb-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags|default:'info' }} mb-2" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% block content %}{% endblock %}
</main>

<script src="{% static 'keystrokes.js' %}"></script>
</body>
</html>
