{% extends 'games_collection/base.html' %}

{% block content %}
<h1>Back to the Dawn</h1>

<section>
  <h2>Code MailRoom</h2>
  <p>2481</p>
</section>

<section>
  <h2>Accès Infirmerie</h2>
  <ol>
    <li>Get Beaten</li>
    <li>Laxative</li>
    <li>Maladie sur le dossier médicale</li>
  </ol>
</section>

<section>
  <h2>Section à explorer</h2>
  <ul>
    <li>Toit matin</li>
    <li>Derrière les toilettes</li>
  </ul>
</section>

<section>
  <h2>Objet à récupérer (mission)</h2>
  <ul>
    <li>Premium Liquor</li>
    <li>Mushroom Powder</li>
    <li>Stonegrass</li>
  </ul>
</section>

<section>
  <h2>Bond à faire</h2>
  <ul>
    <li>Giraffe</li>
    <li>Koala</li>
    <li>Hyena</li>
  </ul>
</section>
{% endblock %}
