{% extends 'chess/base.html' %}

{% block content %}
    <h2 class="mb-4">Ajouter un entrainement</h2>
    <form method="post" class="card p-4 shadow-sm">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.training_type.label_tag }}
            {{ form.training_type }}
        </div>
        <div class="mb-3">
            {{ form.elo.label_tag }}
            {{ form.elo }}
        </div>
        <div class="mb-3">
            {{ form.comment.label_tag }}
            {{ form.comment }}
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
{% endblock %}
