<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'chess:home' %}">Chess</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chess:openings' %}">Ouvertures</a>
                </li>
            </ul>
            <div class="ms-auto d-flex gap-2">
                <a class="btn btn-outline-secondary" href="/admin/chess/">Admin</a>
            </div>
        </div>
    </div>
</nav>
