<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'runeterra:random_picker' %}">Runeterra ⚔️</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'runeterra:random_picker' %}">Random Picker</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'runeterra:champion_list' %}">Champions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'runeterra:region_stats' %}">Region Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'runeterra:monthly_challenge' %}">Monthly Challenge</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'runeterra:objectives' %}">Objectives</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'runeterra:ideas' %}">Ideas</a>
            </li>
        </ul>
    </div>
</nav>
